HTTP_SERVICE_PORT=4576
GRPC_SERVICE_PORT=50051

DATABASE_URL=postgres://postgres:postgres@localhost/vault_test
JWT_SIGNING_KEY=LPztPPHAZGDEimNRvCVRiQN6F9Im1BKUHKEkhup4PjzbFUpqlzt79L

export ANDROID_HOME="$HOME/Library/Android/sdk"
export NDK_HOME="$ANDROID_HOME/ndk/$(ls -1 $ANDROID_HOME/ndk)"

