@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}

input {
  font-size: 16px !important;
}

html {
  scroll-behavior: smooth;
  virtual-keyboard: overlays-content;
}

body.keyboard {
  height: calc(100% + 500px); /* add padding for keyboard */
}

body.virtual-keyboard-padding {
  height: calc(100% + 500px) !important;
}
